/*GLOBAL RULES*/
body {
	background-color: lightgrey;
	font-family: sans-serif;
}
nav {
	display: flex;
	z-index: 2000;
	height: 100px;
	width: 800px;
	position: absolute;
	padding-top: 30px;
	align-items: baseline;
}

h1 {
	color: white;
	font-size: 2em;
	margin: auto 0;
	top: 250px;
}

/* GAME WRAPPER RULES*/
#game-wrapper {
	display: none;
	width: 800px;
	height: 512px;
	background-color: bisque;
	font-family: serif;
}
#game-wrapper.game-over {
	background-color: black;
	text-align: center;
	padding-top: 200px;
}
#game-loader {
	background: url("../images/logo_zelda.png") black no-repeat;
	background-size: contain;
	position: relative;
	width: 800px;
	height: 512px;
}
#game-loader button {
	position: absolute;
	top: 460px;
	left: 378px;
	border: none;
	background-color: transparent;
	font-size: 2em;
	color: white;
}
.map {
	position: relative;
}

/* DISPLAYED ITEMS RULES */
#listeInfos {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: rgba(80,80,80, 0.3);
    font-family: sans-serif;
    padding-top: 0.50rem;
}
.life-group ul {
	display: flex;
	justify-content: flex-start;
	color: red;
}
.item-infos {
	display: block;
    font-size: larger;
}
.life-item {
	font-size: 2em;
}

/*MENU RULES*/
#menu-pause {
	display: none;
	width: 800px;
	height: 512px;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	z-index: 3000;
}
.menu-btn {
    display: block;
}
.js-close-btn {
    text-align: right;
    margin: 1rem;
    border-bottom: 1px lightgrey solid;
    padding-bottom: 1rem;
}
.js-restart-btn {
    text-align: center;
}
.pause-menu-action-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.menu {
	background-color: transparent;
	border: none;
}
#menu-pause div {
	margin: 0 auto;
	width: 50%;
	height: 80%;
	background-color: cadetblue;
}
#menu-btn {
	position: absolute;
	top: 465px;
    right: 50px;
    background-color: cadetblue;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
}
/* CHARACTERS RULES */
.perso {
	background: url('../images/link_sprite.png') no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
}
.link {
	width: 48px;
	height: 52px;
	background-position: -20px -970px;
}
.link, .monster, .bigmonster {
	position: absolute;
	z-index: 2000;
}
.monster {
	background: url('../images/7584.png') no-repeat -185px -90px;
	width: 44px;
	height: 52px;
}

.arrow {
	background-color: chartreuse;
}

.heart {
	background: url('../images/divers.png') no-repeat -270px -55px;
	width: 16px;
	height: 16px;
}

#explications {
    background-color: aliceblue;
    width: 800px;
    padding: 0.5rem;
}
#explications ul span {
    font-weight: bold;
}