body {
	background-color: gray;
}
nav {
	display: flex;
	z-index: 2000;
	height: 100px;
	width: 800px;
	position: absolute;
	padding-top: 30px;
	align-items: baseline;
}

h1 {
	color: white;
	font-size: 2em;
	margin: auto 0;
	top: 250px;
}
#game-wrapper {
	display: none;
	width: 800px;
	height: 512px;
	background-color: bisque;
	font-family: serif;
}
#game-wrapper.game-over {
	background-color: black;
	text-align: center;
	padding-top: 200px;
}
#game-loader {
	background: url("../images/logo_zelda.png") black no-repeat;
	background-size: contain;
	position: relative;
	width: 800px;
	height: 512px;
}
#game-loader button {
	position: absolute;
	top: 460px;
	left: 378px;
	border: none;
	background-color: transparent;
	font-size: 2em;
	color: white;
}

#listeInfos {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: rgba(80,80,80, 0.5)
}
.life-group ul {
	display: flex;
	justify-content: flex-start;
	color: red;
}
.item-infos {
	display: block;
}
.life-item {
	font-size: 2em;
}
.map {
	/*background: #948d4e;*/
	position: relative;
	//margin: auto;
}

#menu-pause {
	display: none;
	width: 800px;
	height: 512px;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	z-index: 3000;
	text-align: center;
}
.menu {
	background-color: transparent;
	border: none;
}
#menu-pause div {
	padding-top: 60px;
	margin: 0 auto;
	width: 50%;
	height: 80%;
	background-color: gray;
}
#menu-btn {
	position: absolute;
	top: 0;
	background-color: gray;
}
.perso {
	background: url('../images/link_sprite.png') no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
}
.link {
	width: 48px;
	height: 52px;
	background-position: -20px -970px;
}
.link, .monster, .bigmonster {
	position: absolute;
	z-index: 2000;
}
.monster {
	background: url('../images/7584.png') no-repeat;
	background-position: -185px -90px;
	width: 44px;
	height: 52px;
}
.arrow {
	background-color: chartreuse;
}
.heart {
	background: url('../images/divers.png') no-repeat;
	background-position: -270px -55px;
	width: 16px;
	height: 16px;
}
