#game-wrapper {

}

.map {
	/*background: #948d4e;*/
	position: relative;
	margin: auto;
	width: 400px;
	height: 256px;
}

#link {
	background-color: yellow;
	width: 16px;
	height: 16px;
	position: absolute;
}
